
<%= form_for @question, url: @url do |q| %>
  <div class="form-group">
    <%= q.label :title %>
    <%= q.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= q.label :question %>
    <%= q.text_area :val , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= q.label :rhs %>
    <%= q.text_field :p_k, :id => 'pk', class: "form-control"%>
  </div>
  <div class="form-group">
    <%= q.label :lhs %>
    <%= q.text_field :implies, :id => 'implies', class: "form-control"%>
  </div>
  <div class="form-group">
    <%= q.label :difficulty %>
    <%= q.select :difficulty, options_for_select(['1','2','3','4','5'], '1'), class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= q.label :template %>
    <%= q.select :template, options_for_select(['Full', 'Half', 'None'], 'None'), class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= q.label :tags %>
    <% @tags.each do |t| %>
      <div class = "form-check">
      <%= check_box_tag "tags[#{t.id}]", "tag", false, id: "tags_#{t}", class: "form-check-input" %>
      <%= t.name %>
      </div>
    <% end %>
  </div>
  
  <% if @new %>
    <div class="field">
        <%= q.hidden_field :user_id, value: session[:user_id] %>
    </div>
  <% end %>
    <%= hidden_field_tag 'json_data', nil, :id=>'hidden'%>
  <p>
    <%= q.submit 'submit', class: "btn btn-primary" %>
  </p>
<% end %>
