<div class="container">
  <h2>Questions</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= link_to 'Title', admin_questions_path(sort_by: 'title')%></th>
        <th scope="col"><%= link_to 'Difficulty', admin_questions_path(sort_by: 'difficulty') %></th>
        <th scope="col"><%= link_to 'Owner', admin_questions_path(sort_by: 'owner') %></th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td> <%= link_to "#{question.title}", question_path(question) %> </td>
          <td> <%= question.difficulty %> </td>
          <% if User.find_by_id(question.user_id) %>
            <td> <%= link_to "#{User.find(question.user_id).name}", user_path(question.user_id) %> </td>
          <% else %>
            <td> Deleted </td>
          <% end %> 
          <td> <%= link_to 'Edit', edit_question_path(question) %></td>
          <td> <%= link_to 'Delete', delete_question_path(question)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>