<div class="container">
  <h2>Questions</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Difficulty</th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr>
        <td> <%= question.title %> </td>
        <td> <%= question.difficulty %> </td>
        <td> <%= link_to 'proof', question_path(question) %></td>
        <% if teacher? %>
          <td> <%= link_to 'edit', edit_question_path(question) %></td>
          <td> <%= link_to 'delete', delete_question_path(question)%></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>