<h2>Sections</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
   </tr>
   <% @sections.each do |s| %>
   <tr>
    <td> <%= s.name %> </td>
    <td> <%= s.description %> </td>
    <% if @enroll %>
      <td><%= link_to 'enroll', enroll_path(s, session[:user_id]) %></td>
    <% else %>  
      <td> <%= link_to 'class', section_path(s) %></td>
    <% end %>
    <% if teacher? %>
      <td> <%= link_to 'edit', edit_section_path(s) %></td>
      <td> <%= link_to 'delete', delete_section_path(s)%></td>
    <% end %>
  </tr>
  <% end %>
</table>

<% if teacher? %>
  <%= link_to 'create section', new_section_path %>
<% end %>

<% if student? and not teacher? and not @enroll%>
  <%= link_to 'enrollment', sections_path %>
<% end %>