<div class = "container">
  <h3>Users</h3>
  
  <table class = "table">
    <thead>
      <tr>
        <th scope = "col">Name</th>
        <th scope = "col">Role</th>
        <% if admin? %>
          <th scope = "col">Edit</th>
          <th scope = "col">Delete</th>
        <% end %>
        <% if teacher? and @unenroll %>
          <th scope="col">Unenroll</th>
        <% end %>
       </tr>
     </thead>
     <tbody>
       <% @users.each do |u| %>
       <tr>
        <td> <%= link_to "#{u.name}", user_path(u) %> </td>
        <td> <%= u.role %> </td>
        <% if admin? %>
          <td> <%= link_to 'Edit', edit_user_path(u) %></td>
          <td> <%= link_to 'Delete', delete_user_path(u)%></td>
        <% end %>
        <% if teacher? and @unenroll%>
          <td> <%=link_to 'Unenroll', unenroll_path(@section, u) %></td>
        <% end %>
        </tr>
      </body>
    <% end %>
  </table>
</div>