<div class="nav-cont">
  <div class="container">
    <nav class="nav nav-pills nav-justified">
      <%= link_to "#{session[:user_name]}", user_path(session[:user_id]), class: session[:page] == 'User' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'Users', admin_users_path(admin: true), class: session[:page] == "Users" ? "nav-item nav-link active":"nav-item nav-link" %>
      <%= link_to 'Sections', admin_sections_path(admin: true), class: session[:page] == 'Sections' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'Tags', admin_tags_path(admin: true), class: session[:page] == 'Tags' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'Questions', admin_questions_path(admin: true), class: session[:page] == 'Questions' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'My Tags', tags_path, class: session[:page] == 'My Tags' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'My Questions', question_index_path, class: session[:page] == 'My Questions' ? "nav-item nav-link active" : "nav-item nav-link" %>
      <%= link_to 'Logout', logout_path, class: session[:page] == 'Logout' ? "nav-item nav-link active" : "nav-item nav-link" %>
    </nav>
  </div>
</div>