<% content_for :include, javascript_include_tag('question-parser-bundle', 'data-turbolinks-track': 'reload'), :flush => true %>
<div id = 'Question'>
  <p><%= @question.val %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= form_tag grade_question_path, {:id => 'my_form'} do %>
        <div class ="form-group">
          <%= text_area_tag "comment", @comment, :id=>'plain_text', class: "form-control", name: "set-size", rows: "20" %>
        </div>
        <%= hidden_field_tag 'json_data', nil, :id=>'hidden'%>
        <div class="form-group">
          <%= submit_tag 'to rails', :id=>'submit', class: "btn btn-primary"%>
        </div>
      <% end -%>
    </div>
    
    <div class = "col-sm">
      <div class="form-group">
          <%= text_area_tag 'parse_result', nil, :id=>'pretty_page', class: "form-control", name: "set-size", rows: "20" %>
      </div>
    </div>
  
  </div>
  
  <% if @responce != nil %> 
    <p>Basis: <%= @responce["baseCase"]%>, Induction: <%= @responce[:"ihypothesis"] %> </p>
  <% end %>
</div>

<% if session[:section_id] %>
  <p><%= link_to 'back', section_path(session[:section_id]) %></p>
<% else %>
 <p><%= link_to 'back', user_path(session[:user_id]) %></p>
<% end %>