<% content_for :include, javascript_include_tag('question-parser-bundle', 'data-turbolinks-track': 'reload'), :flush => true %>
<div id = 'container'>
  <h5><%= @question.val %></h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= form_tag grade_question_path, {:id => 'my_form'} do %>
        <div class ="form-group">
          <%= text_area_tag "comment", @comment, :id=>'plain_text', class: "form-control", name: "set-size", rows: "20" %>
        </div>
        <%= hidden_field_tag 'json_data', nil, :id=>'hidden'%>
        <div class="form-group">
          <%= submit_tag 'Submit', :id=>'submit', class: "btn btn-primary"%>
        </div>
      <% end -%>
    </div>
    
    <div class = "col-sm">
      <div class="form-group">
          <%= text_area_tag 'parse_result', nil, :id=>'pretty_page', class: "form-control", name: "set-size", rows: "20" %>
      </div>
    </div>
  
  </div>
  
  <% if @responce != nil %> 
    <h5 class = "text-center" style="padding-bottom:20px;">
     <u>Results</u>
    </h5>
  
    <div class = "row">
      <div class = "col-sm-6 col-md-6 col-lg-3">
        <div class = "text-center">
          <p class=<%= @responce["baseCase"]["result"] ? "good" : "bad" %>>
            <u>Basis</u>
          </p>
          <% if @responce["baseCase"]["error"] %>
            <p>
              Error: <%= @responce["baseCase"]["error"] %>
            </p>
          <% end %>
        </div>
      </div>
      <div class = "col-sm-6 col-md-6 col-lg-3">
        <div class = "text-center">
          <p class=<%= @responce["inductiveStep"]["result"] ? "good" : "bad" %>>
            <u>InductiveStep</u>
          </p>
          <% if @responce["inductiveStep"]["error"] %>
            <p>
              Error: <%= @responce["inductiveStep"]["error"] %>
            </p>
          <% end %>
        </div>
      </div>
      <div class = "col-sm-6 col-md-6 col-lg-3">
        <div class = "text-center">
          <p class=<%= @responce["inductiveStep"]["hypothesis"]["result"]  ? "good" : "bad" %>>
            <u>Hypothesis</u>
          </p>
          <% if @responce["inductiveStep"]["hypothesis"]["error"] %>
            <p>
              Error: <%= @responce["inductiveStep"]["hypothesis"]["error"] %>
            </p>
        <% end %>
        </div>
      </div>
      <div class = "col-sm-6 col-md-6 col-lg-3">
        <div class="text-center">
          <p class=<%= @responce["inductiveStep"]["toShow"]["result"] ? "good" : "bad" %>>
            <u>To Show</u>
          </p>
          <% if @responce["inductiveStep"]["toShow"]["error"] %>
            <p>
              Error: <%= @responce["inductiveStep"]["toShow"]["error"] %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>