<% content_for :include, javascript_include_tag('question-parser-bundle', 'data-turbolinks-track': 'reload'), :flush => true %>

<div id = 'Question'>
  <p><%= @question.val %></p>
</div>

<div id = 'Entry'>
  
  <div id = 'left_side'>
    <%= form_tag grade_question_path, {:id => 'my_form'} do %>
      <%= text_area_tag "comment", @comment, :id=>'plain_text' %>
      <%= text_area_tag 'json_data', nil, :id=>'hidden'%>
      <%= submit_tag 'to rails', :id=>'submit'%>
    <% end -%>
  </div>

  <div id = right_side>
      <%= text_area_tag 'parse_result', nil, :id=>'pretty_page' %>
  </div>
</div>
<div id = 'bottom'>
    <%=text_field_tag "responce",  @responce, :id=>'responce' %>
</div>

<% if session[:section_id] %>
  <p><%= link_to 'back', section_path(session[:section_id]) %></p>
<% else %>
 <p><%= link_to 'back', user_path(session[:user_id]) %></p>
<% end %>