<% content_for :include, javascript_include_tag('question-parser-bundle', 'data-turbolinks-track': 'reload'), :flush => true %>
<div id = 'container'>
  <h5><%= @question.val %></h5>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= form_tag grade_question_path, {:id => 'my_form'} do %>
        <div class ="form-group">
          <%= text_area_tag "comment", @comment, :id=>'plain_text', class: "form-control", name: "set-size", rows: "20" %>
        </div>
        <%= hidden_field_tag 'json_data', nil, :id=>'hidden'%>
        <div class="form-group">
          <%= submit_tag 'Submit', :id=>'submit', class: "btn btn-primary"%>
        </div>
      <% end -%>
    </div>
    
    <div class = "col-sm">
      <div class="form-group">
          <%= text_area_tag 'parse_result', nil, :id=>'pretty_page', class: "form-control", name: "set-size", rows: "20" %>
      </div>
    </div>
  
  </div>
  
  <% if @responce != nil %> 

    <p>Basis: <%= @responce["baseCase"]%>, Induction: <%= @responce["ihypothesis"] %> </p>
  <% end %>
</div>

<div class = "text-center">
  <%= link_to 'Back', session[:back] %>
</div>