<div class="container name">
  <div class="text-center">
    <h2><%= @section.name %><h2>
  </div>
</div>


<% if teacher? %>
  <div class = "row">
    <div class="col">
      <%= render 'partials/tables/users/teacher' %>
    </div>
  
    <div class="col">
      <%= render 'partials/tables/tags/teacher' %>
    </div>
  </div>
    
    <div class="row">
      <%= render 'partials/tables/questions/teacher'%>
    </div>
<% else %>
  <%= render 'partials/tables/questions/student' %>
<% end %>

  



