<p>Question : <%= @question.title %> </p>
<p>Basis : <%= @attempt.basis %> </p>
<p>Inductive Step : <%= @attempt.inductiveStep %></p>
<p>Hypothesis : <%= @attempt.ih %></p>
<p>To Show : <%= @attempt.toShow%></p>
<p>You Entered</p>
<p> <%= @attempt.rawVal %></p>