<!DOCTYPE html>
<html>
  <head>
    <title>Induction</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for :include %>
  </head>

  <body>
    <%= render 'partials/header' %>
    <div class = "container" id="main">
      <%= yield %>
      <strong><%= flash[:notice] %></strong>
    </div>
  </body>
  
  <footer class="footer">
    <%= render 'partials/footer' %>
  </footer>
</html>